@model EcommerceWithPOS.Models.Brand

@{
    ViewData["Title"] = "Edit";
}

<!-- Page Title Area -->
<div class="row page-title clearfix">
    <!-- /.page-title-left -->
    <div class="page-title-right d-none d-sm-inline-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Banners</li>
        </ol>
    </div>
</div>

<!-- Different data widgets ============ -->
<!-- =================================== -->
<div class="widget-list">
    <div class="row">
        <div class="col-md-12 widget-holder">
            <div class="widget-bg">
                <div class="widget-heading clearfix">
                    <h5> Create Brands</h5>
                    <a asp-action="Index" class="btn btn-info"><i class="feather feather-arrow-left"></i>Back</a>
                </div>
                <!-- /.widget-heading -->
                <div class="widget-body clearfix">
                    <form asp-action="Edit" enctype="multipart/form-data" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="Name" class="control-label"></label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Slug" class="control-label"></label>
                                    <input asp-for="Slug" class="form-control" />
                                    <span asp-validation-for="Slug" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ShortDescription" class="control-label"></label>
                                    @* <input asp-for="ShortDescription" class="form-control" /> *@
                                    <textarea asp-for="ShortDescription" class="control-label"></textarea>
                                    <span asp-validation-for="ShortDescription" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="Logo" class="control-label"></label>
                                    <input type="file" asp-for="Logo" class="form-control" id="imageInput"/>
                                    <span asp-validation-for="Logo" class="text-danger"></span>
                                </div>

                                <div style="width:180px;height:180px; border:2px solid #012970; border-radius:10px; padding:10px;">
                                    @* <img src="@Url.Content(Model.Logo)" style="width:155px;height:155px;" alt="@Model.Name" id="imgPreview"> *@
                                    <img src="@Url.Content(Model.LogoPath)" style="width:155px; height:155px;" alt="@Model.Name"/>
                                    <input type="hidden" asp-for="Logo" />

                                </div>
                                <button type="button" id="btnChange" class="btn btn-primary mt-3">Change</button>
                            </div>
                        </div>    
                        
                       @*  <div class="form-group">
                            <label asp-for="IsActive" class="control-label"></label>
                            <input asp-for="IsActive" class="form-control" />
                            <span asp-validation-for="IsActive" class="text-danger"></span>
                        </div> *@

                        <div class="form-group">
                            <input type="submit" value="Update" class="btn btn-primary" />
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var isChanged= false;
        $(document).ready(function (){
             $("#checkActive").click(function() {
            if($(this).is(':checked')){
                $("#btnUpdate").removeAttr('disabled', 'disabled');
            }
            else{
                 $("#btnUpdate").attr('disabled', 'disabled');
            }
        });

             var isChanged = false;
             $("#btnChange").show();
             $("#imageInput").hide();
             $("#btnChange").click(function () {
                 $("#imageInput").show();
                 $("#btnChange").hide();
             })

             CKEDITOR.replace('Description', {
                height: 300,
                width: '100%',
             });
             $("#imageInput").change(function () {
                const file = this.files[0];
                if (file) {
                    let reader = new FileReader();
                    reader.onload = function (event) {
                        $("#imgPreview").attr('src', event.target.result);
                    }
                    reader.readAsDataURL(file);
                }
            });
        })
    </script>
}


@* @{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Brand</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogoPath" class="control-label"></label>
                <input asp-for="LogoPath" class="form-control" />
                <span asp-validation-for="LogoPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDescription" class="control-label"></label>
                <input asp-for="ShortDescription" class="form-control" />
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slug" class="control-label"></label>
                <input asp-for="Slug" class="form-control" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
 *@
