@model EcommerceWithPOS.Models.Color

 @{
    ViewData["Title"] = "Colors List";
}



@* <h3>@ViewData["Title"]</h3>
<hr />
<div>
    <button class="btn btn-primary mb-2" id="btnAdd">Add Color</button>
</div>
<div class="container">
    <table class="table table-success table-striped table-responsive table-hover" data-toggle="datatables" data-plugin-options='{"searching": false}'>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Action</th>
            </tr> 
        </thead>
        <tbody id="tblbody">

        </tbody>
    </table>
</div>
 *@


<div class="widget-list">
    <div class="row">
        <div class="col-md-12 widget-holder">
            <div class="widget-bg">
                <div class="widget-heading clearfix">
                    <h5> All Banners</h5>
                    <a asp-action="Create" class="btn btn-info" id="btnAdd"><i class="social-icons">addme</i> Add Color</a>
                </div>
                <!-- /.widget-heading -->
                <div class="widget-body clearfix">

                    <table class="table table-striped table-responsive" data-toggle="datatables" data-plugin-options='{"searching": false}'>
                        <thead class="table">
                            <tr class="thead-inverse bg-success">
                                <th>ID</th>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="tblbody">
                            @* @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Link)
                                    </td>
                                    <td>
                                        <img src="@Url.Content(item.BannerImagePath)" alt="@item.Title" height="120" width="160" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Order)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedAt)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UpdatedAt)
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-success">Action</button>
                                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu" role="menu">
                                                <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>Edit</a>
                                                <a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye-fill"></i>Details</a>
                                                <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            } *@
                        </tbody>

                    </table>
                </div>
                <!-- /.widget-body -->
            </div>
            <!-- /.widget-bg -->
        </div>
        <!-- /.widget-holder -->
    </div>
    <!-- /.row -->
</div>
<!-- /.widget-list -->




<div class="modal" id="colorModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modalTitle"></h3>
            </div>
            <div class="modal-body">
                <input type="hidden" asp-for="Id" value="0"/>
                <div class="mb-2">
                    <label asp-for="Name"></label>
                    <input type="text" asp-for="Name" class="form-control" placeholder="Color Name" />
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" id="Save" type="submit" onclick="Insert();">Save</button>
                <button class="btn btn-success" id="Update" type="submit" onclick="Update();" style="display:none">Update</button>
                <button class="btn btn-danger" data-bs-dismiss="modal" onclick="HideModal();">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            GetColors();
            // Insert();
        });

        // Read Data
        function GetColors() {
            $.ajax({
                url: '/Color/GetColors',
                type: 'get',
                datatype: 'json',
                contentType: 'application/json;charset="utf-8',
                success: function (response) {
                    if(response == null || response == undefined || response.length == 0){
                        var object = '';
                        object += '<tr>';
                        object += '<td class="text-center" colspan="5">' + 'colors not available' + '</td>';
                        object += '</tr>';
                        $('#tblbody').html(object);
                    }
                    else{
                        var object = '';
                        $.each(response, function(index, item){
                            object += '<tr>';
                            object += '<td>' + item.id + '</td>';
                            object += '<td>' + item.name + '</td>';
                            object += '<td> <a href="#" class="btn btn-primary btn-sm" onclick="Edit(' + item.id + ')">Edit</a> <a href="#" class="btn btn-danger btn-sm" onclick="Delete(' + item.id + ')"> Delete </a></td>';
                        });
                        $('#tblbody').html(object);
                        console.log("Error");
                    }
                },
                error: function () {
                    alert('Unable to read the data.');
                }
            });
        }


        $('#btnAdd').click(function() {
            $('#colorModal').modal('show');
            $('#modalTitle').text('Add Color');
        });

        // Insert Data
        function Insert(){
            var result = Validate();
            if (result == false){
                return false;
            }

            // var formData = new object();
            var formData = {
                Id: $('#Id').val(),
                Name: $('#Name').val()
            }

            $.ajax({
                url: '/Color/Insert',
                type: 'post',
                // data: formData,
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function (response){
                    if(response == null || response == undefined || response.length == 0){
                       alert('Unable to save the data.');
                    }
                    else{
                        HideModal();
                        GetColors();
                        alert(response);
                    }
                },
                error: function () {
                    alert('Unable to save the data.');
                }
            });
        }

        function HideModal(){
            ClearData();
            $('#colorModal').modal('hide');
        }

        function ClearData(){
            $('#Name').val('');

            $('#Name').css('border-color', 'lightgrey');
        }

        function Validate() {
            var isValid = true;

            if($('#Name').val().trim() == ""){
                $('#Name').css('border-color', 'Red');
                isValid = false;
            }
            else{
                 $('#Name').css('border-color', 'lightgrey');
            }
            return isValid;
        }

        $('#Name').change(function () {
            Validate();
        });

        // Edit
        function Edit(id){
            $.ajax({
                url: 'Edit?id=' + id,
                type: 'get',
                contentType: 'application/json; charset="utf-8"',
                datatype: 'json',
                success: function(response) {
                    if (response == null || response == undefined){
                        alert('Unable to read the data.');
                    }
                    else if (response.length == 0){
                        alert('Data not available with the id.' + id )
                    }
                    else{
                        $('#colorModal').modal('show');
                        $('#modalTitle').text('Update Color');
                        $('#Save').css('display', 'none');
                        $('#Update').css('display', 'block');
                        $('#Id').val(response.id);
                        $('#Name').val(response.name);
                    }
                },
                error: function(){
                    alert('Unable to read the data.');
                }
            });
        }

        // Update Data
        function Update(){
            var result =  Validate();
            if(result == false){
                return false;
            }
            var formData = {
                Id: $('#Id').val(),
                Name: $('#Name').val()
            }
            // $.ajax({
            //     url: '/Color/Update',
            //     type: 'post',
            //     // data: formData,
            //     contentType: 'application/json',
            //     data: JSON.stringify(formData),
            //     datatype: 'json',
                
            //     success: function (response) {
            //         if (response == null || response == undefined || response.length == 0){
            //             alert('Unable to save the data.')
            //         }
            //         else{
            //             HideModal();
            //             GetColors();
            //             alert(response);
            //         }
            //     },
            //     error: function () {
            //         alert('Unable to Update the data.');
            //     }
            // });

            $.ajax({
                url: '/Color/Update',
                type: 'post',
                // data: formData,
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function (response){
                    if(response == null || response == undefined || response.length == 0){
                       alert('Unable to save the data.');
                    }
                    else{
                        HideModal();
                        GetColors();
                        alert(response);
                    }
                },
                error: function () {
                    alert('Unable to save the data.');
                }
            });
        }


    </script>

    @* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
}


@*<h2>Color List</h2>

<button class="btn btn-primary mb-3" onclick="openModal('/Color/Create')">Add Color</button>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th width="150">Actions</th>
        </tr>
    </thead>
    <tbody id="tableBody">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <button class="btn btn-sm btn-warning" onclick="openModal('/Color/Edit/@item.Id')">Edit</button>
                    <button class="btn btn-sm btn-danger" onclick="deleteProduct(@item.Id)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function openModal(url) {
            $.get(url, function (data) {
                $('#formModal .modal-content').html(data);
                $('#formModal').modal('show');
            });
        }

        function deleteProduct(id) {
            if (confirm('Are you sure you want to delete this product?')) {
                $.post('/Color/Delete/' + id, function (res) {
                    if (res.success) location.reload();
                });
            }
        }

        $(document).on('submit', '#formModal form', function (e) {
            e.preventDefault();
            var form = $(this);
            $.ajax({
                url: form.attr('action'),
                type: 'POST',
                data: form.serialize(),
                success: function (res) {
                    if (res.success) {
                        $('#formModal').modal('hide');
                        location.reload();
                    } else {
                        $('#formModal .modal-content').html(res);
                    }
                }
            });
        });
    </script>
}
 *@