@model EcommerceWithPOS.Models.Product

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Page Title Area -->
<div class="row page-title clearfix">
    <!-- /.page-title-left -->
    <div class="page-title-right d-none d-sm-inline-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Products</li>
        </ol>
    </div>
</div>

<!-- Different data widgets ============ -->
<!-- =================================== -->
<div class="widget-list">
    <div class="row">
        <div class="col-md-12 widget-holder">
            <div class="widget-bg">
                <div class="widget-heading clearfix">
                    <h5> Create Products</h5>
                    <a asp-action="Index" class="btn btn-info"><i class="feather feather-arrow-left"></i>Back</a>
                </div>
                <!-- /.widget-heading -->
                <div class="widget-body clearfix">
                    <form asp-action="Create" enctype="multipart/form-data" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="ProductName" class="control-label"></label>
                                    <input asp-for="ProductName" class="form-control" />
                                    <span asp-validation-for="ProductName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label asp-for="Code" class="control-label"></label>
                                    <input asp-for="Code" class="form-control" />
                                    <span asp-validation-for="Code" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    @* <label asp-for="Category" class="control-label"></label>
                                    <select class="form-control" asp-for="CategoryId" asp-items="@ViewBag.CategoryId">
                                        <option selected disabled>--Select Category--</option>
                                    </select> *@

                                    @* <label for="selectpicker1" class="control-label" asp-for="Category"></label>
                                    <select class="selectpicker form-control" multiple="multiple" asp-for="CategoryId" asp-items="@ViewBag.CategoryId">
                                        <option selected disabled></option>
                                    </select> *@

                                    <label class="form-control-label">Category</label>
                                    <select class="m-b-10 form-control" data-placeholder="--Select Category--" data-toggle="select2" asp-for="CategoryId" asp-items="@ViewBag.CategoryId">
                                        <option selected>  </option>
                                    </select>

                                    @*  <select asp-for="CategoryId" class="form-control select2" data-toggle="select2">
                                        @foreach (var parent in ViewBag.CategoryId as List<Category>)
                                        {
                                            <optgroup label="@parent.Name">
                                                @if (parent.Children != null)
                                                {
                                                    foreach (var child in parent.Children)
                                                    {
                                                        <option value="@child.Id">@child.Name</option>
                                                    }
                                                }
                                            </optgroup>
                                        }
                                    </select> *@
                                    <span asp-validation-for="CategoryId" class="text-danger"></span>


                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    @* <label asp-for="Brand" class="control-label"></label>
                                    <select class="form-control" asp-for="BrandId" asp-items="@ViewBag.BrandId">
                                        <option selected disabled>--Select Brand--</option>
                                    </select> *@

                                    <label class="control-label">Category</label>
                                    <select class="m-b-10 form-control" data-placeholder="--Select Brand--" data-toggle="select2" asp-for="BrandId" asp-items="@ViewBag.BrandId">
                                        <option selected>  </option>
                                    </select>
                                    <span asp-validation-for="BrandId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    @* <label asp-for="Unit" class="control-label"></label>
                                    <select class="form-control" asp-for="UnitId" asp-items="@ViewBag.UnitId">
                                        <option selected disabled>--Select Unit--</option>
                                    </select> *@

                                    <label class="form-control-label">Unit</label>
                                    <select class="m-b-10 form-control" data-placeholder="--Select Unit--" data-toggle="select2" asp-for="UnitId" asp-items="@ViewBag.UnitId">
                                        <option selected>  </option>
                                    </select>
                                    <span asp-validation-for="UnitId" class="text-danger"></span>
                                </div>
                            </div>
                            @* <div class="form-group">
                                    <label asp-for="IsActive" class="control-label"></label>
                                    <input asp-for="IsActive" class="form-control" />
                                    <span asp-validation-for="IsActive" class="text-danger"></span>
                                </div> *@

                        </div>

                        <div class="row">
                            <div class="col-2">
                                <div class="form-group">
                                    <label asp-for="PurchasePrice" class="control-label"></label>
                                    <input asp-for="PurchasePrice" class="form-control" />
                                    <span asp-validation-for="PurchasePrice" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label asp-for="RetailPrice" class="control-label"></label>
                                    <input asp-for="RetailPrice" class="form-control" />
                                    <span asp-validation-for="RetailPrice" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label asp-for="WholeSalePrice" class="control-label"></label>
                                    <input asp-for="WholeSalePrice" class="form-control" />
                                    <span asp-validation-for="ProductName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label asp-for="Tax" class="control-label"></label>
                                    <select class="form-control" asp-for="TaxId" asp-items="@ViewBag.TaxId">
                                        <option selected disabled>--Select Tax--</option>
                                    </select>
                                    <span asp-validation-for="TaxId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label asp-for="TaxMethod" class="control-label"></label>
                                    <select class="form-control" asp-for="TaxMethod" asp-items="Html.GetEnumSelectList<TaxMethod>()">
                                        <option selected disabled>--Select Tax Method--</option>
                                    </select>
                                    <span asp-validation-for="TaxMethod" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="DiscountRate" class="control-label"></label>
                                    <input asp-for="DiscountRate" class="form-control" />
                                    <span asp-validation-for="DiscountRate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="DiscountRate" class="control-label"></label>
                                    <input asp-for="DiscountRate" class="form-control" />
                                    <span asp-validation-for="DiscountRate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="DiscountAmount" class="control-label"></label>
                                    <input asp-for="DiscountAmount" class="form-control" />
                                    <span asp-validation-for="DiscountAmount" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-8">
                                <div class="form-group">
                                    <label asp-for="Description" class="control-label"></label>
                                    @* <input asp-for="PurchasePrice" class="form-control" /> *@
                                    <textarea data-toggle="tinymce" data-plugin-options='{ "height": 200 }' asp-for="Description"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-4">
                                <label asp-for="ProductPicture" class="control-label"></label>
                                <input type="file" asp-for="ProductPicture" class="form-control" id="imageInput" />
                                @* <div action="~/assets/demo" data-toggle="dropzone">
                                    <div class="fallback">                                       
                                        <input type="file" name="ProductPicture" id="file1" multiple="multiple" />
                                    </div>
                                    <!-- /.fallback -->
                                    <div class="dz-message" data-dz-message>
                                        <span>Drop files here to upload</span>
                                    </div>
                                </div> *@
                            </div>
                        </div>



                        <div class="Product-Variant">
                            <div class="product-Variant-title mb-2">
                                <input id="isVariant" type="checkbox" />
                                <label for="isVariant" class="fw-bold">This product has variants</label>
                            </div>

                            <div id="isVariant-info" style="display:none;">
                                <div id="variantInputs">
                                    <div class="row g-2 align-items-end mb-3">
                                        <div class="col-md-3">
                                            <label class="form-label">Color</label>
                                            <input type="text" name="Colors" id="colorInput" class="form-control" placeholder="Color name" />
                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-label">Sizes</label>
                                            <input type="text" name="Sizes" id="sizeInput" class="form-control" placeholder="Sizes (comma separated)" />
                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-label">Quantities</label>
                                            <input type="text" name="Quantities" id="qtyInput" class="form-control" placeholder="Quantities (comma separated)" />
                                        </div>
                                        <div class="col-md-3">
                                            <button type="button" id="addVariant" class="btn btn-success">+ Add Variant</button>
                                        </div>
                                    </div>
                                </div>

                                <!-- Hidden fields for actual form submission -->
                                <div id="hiddenVariantInputs"></div>

                                <!-- Variant Table -->
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped" id="variantTable" style="display:none;">
                                        <thead class="table-light">
                                            <tr>
                                                <th>#</th>
                                                <th>Color</th>
                                                <th>Sizes</th>
                                                <th>Quantities</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>




                        <div class="more-details">
                            <div class="more-details-title">
                                @* <h3> *@
                                <input id="moreDetails" type="checkbox" />
                                <label>Add More Details</label>
                                @* </h3> *@
                            </div>

                            <div id="more-details-info" style="display:none;">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label asp-for="ShortDescription" class="control-label"></label>
                                            <textarea data-toggle="tinymce" data-plugin-options='{ "height": 150 }' asp-for="ShortDescription"></textarea>
                                            <span asp-validation-for="ShortDescription" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label asp-for="Specification" class="control-label"></label>
                                            <input asp-for="Specification" class="form-control" />
                                            <span asp-validation-for="Specification" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label asp-for="Slug" class="control-label"></label>
                                            <input asp-for="Slug" class="form-control" />
                                            <span asp-validation-for="Slug" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label asp-for="Tags" class="control-label"></label>
                                            <input asp-for="Tags" class="form-control" />
                                            <span asp-validation-for="Tags" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        // // var isChanged= false;
        $(document).ready(function (){

            $('#isVariant').on('click', function () {

                $('#isVariant-info').slideToggle(1000);
            });//Is-Variant

            $('#moreDetails').on('click', function () {

                $('#more-details-info').slideToggle(1000);
            });//Is-Variant




                    $(function () {
            $("#addColor").click(function () {
                var colorHtml = `
        <div class="row">
            <div class="col-4">
                <label asp-for="Colors" class="control-label"></label>
                <input type="text" name="Colors" placeholder="Color Name" class="form-control mb-2" />
                <span asp-validation-for="Colors" class="text-danger"></span>
            </div>
            <div class="col-4">
                <label class="control-label"> Size</label>
                <input type="text" name="Sizes" placeholder="Sizes (comma separated)" class="form-control mb-2" />
            </div>
            <div class="col-4">
                <label class="control-label"> Quantity</label>
                <input type="text" name="Quantities" placeholder="Quantities (comma separated)" class="form-control mb-2" />
            </div>
            <div class="col-3 mt-4">
                <button type="button" class="btn btn-danger btn-sm remove-color">Remove Color</button>
            </div>
        </div>
                `;
                $("#colorsContainer").append(colorHtml);
            });

            // $(document).on("click", ".remove-color", function () {
            //     $(this).closest(".color-item").remove();
            // });
            $(document).on("click", ".remove-color", function () {
                $(this).closest(".color-item").remove();
            });
        });



            //  // Load sizes dynamically
            // $.ajax({
            //     url: '/Size/GetSizes',
            //     type: 'GET',
            //     success: function (data) {
            //         var container = $('#filterOptions');
            //         container.empty(); // clear any previous data

            //         $.each(data, function (i, size) {
            //             container.append(`
            //                 <div class="form-check form-check-inline">
            //                 <label class="form-check-label" for="size_${size.id}">
            //                         ${size.name}
            //                     </label>
            //                     <input class="m-2" type="checkbox"
            //                            id="size_${size.id}" name="SelectedSizes" value="${size.id}" />
            //                 </div>`
            //             );
            //             console.log(size.name);
            //         });
            //     },
            //     error: function () {
            //         alert('Failed to load sizes.');
            //     }
            // });

            // $("#btnSave").attr('disabled', 'disabled');
            // $("#checkActive").click(function() {
            //     if($(this).is(':checked')){
            //         $("#btnSave").removeAttr('disabled', 'disabled');

            //     }
            //     else{
            //          $("#btnSave").attr('disabled', 'disabled');
            //     }
            // });

             // CKEDITOR.replace('Description', {
             //    height: 300,
             //    width: '100%',
             // });


            //  $("#imageInput").change(function () {
            //     const file = this.files[0];
            //     if (file) {
            //         let reader = new FileReader();
            //         reader.onload = function (event) {
            //             $("#imgPreview").attr('src', event.target.result);
            //         }
            //         reader.readAsDataURL(file);
            //     }
            // });
        })




        $(function () {
            // Show/hide variant section
            $("#isVariant").change(function () {
                $("#isVariant-info").toggle(this.checked);
            });

            // Add color-size-quantity row
            $("#addVariant").click(function () {
                let color = $("#colorInput").val().trim();
                let sizes = $("#sizeInput").val().trim();
                let qty = $("#qtyInput").val().trim();

                if (!color || !sizes || !qty) {
                    alert("Please enter color, size and quantity.");
                    return;
                }

                let rowCount = $("#variantTable tbody tr").length + 1;
                let newRow = `
                    <tr>
                        <td>${rowCount}</td>
                        <td>${color}</td>
                        <td>${sizes}</td>
                        <td>${qty}</td>
                        <td><button type="button" class="btn btn-danger btn-sm removeVariant">Remove</button></td>
                    </tr>`;

                $("#variantTable tbody").append(newRow);
                $("#variantTable").show();

                // Add hidden fields for form submission
                $("#hiddenVariantInputs").append(`
                    <input type="hidden" name="Colors" value="${color}" />
                    <input type="hidden" name="Sizes" value="${sizes}" />
                    <input type="hidden" name="Quantities" value="${qty}" />
                `);

                // Clear input fields
                $("#colorInput").val('');
                $("#sizeInput").val('');
                $("#qtyInput").val('');
            });

            // Remove variant row
            $(document).on("click", ".removeVariant", function () {
                let rowIndex = $(this).closest("tr").index();

                // Remove hidden inputs by index (each set has 3 hidden inputs)
                let hiddenIndex = rowIndex * 3;
                $("#hiddenVariantInputs input").slice(hiddenIndex, hiddenIndex + 3).remove();

                $(this).closest("tr").remove();

                // Reindex table rows
                $("#variantTable tbody tr").each(function (i) {
                    $(this).find("td:first").text(i + 1);
                });

                if ($("#variantTable tbody tr").length === 0)
                    $("#variantTable").hide();
            });
        });
    </script>
}


