@model IEnumerable<EcommerceWithPOS.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
           @*  <th>
                @Html.DisplayNameFor(model => model.Sku)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Tags)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PicturePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchasePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetailPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WholeSalePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsVariant)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Sku)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Tags)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PicturePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchasePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RetailPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WholeSalePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsVariant)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Color.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size.Name)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tax.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
